name: CI - Docker publication

on: 
  workflow_run:
    workflows: ["CI - Build and Test"]   # Must match the "name" field above exactly
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  publish:
    # Only run if the previous workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: jeremlechat
          password: ${{ secrets.GHCR_TOKEN }}

      - name: install
        run: npm ci
        working-directory: ./Cloud

      - name: build
        run: npm run build
        working-directory: ./Cloud

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/architecture_distribuee:latest
            ghcr.io/${{ github.repository_owner }}/architecture_distribuee:latest  
